*~
*.i
*.i2
*.o
*.so
*-html.sql
*.sql-out
*.sql-out-err
*.ed
*.foo
foo.*
*.foo.sql
TAGS
TAGS-*
Limbo
Limbo.*
Doc
Makefile.depends
.emacs.desktop
GREG-READ
STATUS
the-output
wicci-today
WICCI-C-FILES.refs
WICCI-SQL-FILES.refs
*.tor_env
name-env.sqldoc-test-too.sql
WicciFiles
XFiles
